{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
    <h1>About Me</h1>
    <p>This is my about me page that will be updated in the future. This will eventually contain information about my business.</p>
    <p>For now, here is some information about me:</p>
    <span><strong>Name:</strong> {{ name }}</span>
    <span><strong>Address:</strong> {{ address }}</span>
    <span><strong>Email:</strong> {{ email }}</span>
    <p>I am a student at San Diego Global Knowledge University. I am currently in the Fullstack Development Immersive program.</p>
    </div>
{% endblock content %}