{% extends 'base.html' %}

{% block title %}Contact Me{% endblock title %}

{% block content %}
    <div>
        <h1>Contact Me From FBV</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minima repellat eos exercitationem. Iste doloribus ratione consectetur omnis dolorem harum tenetur vero non id! Sint repudiandae doloremque sunt nulla beatae.</p>
        <div>
            <span><strong>Name:</strong> {{ name }}</span>
            <span><strong>Address:</strong> {{ address }}</span>
            <span><strong>Email:</strong> {{ email }}</span>
        </div>
    </div>
{% endblock content %}