<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <h1>Home Page View</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi sed minus neque tempore veniam libero, beatae, perspiciatis fuga explicabo non excepturi pariatur, unde debitis sunt corrupti illum necessitatibus tenetur rem?</p>
    </div>
    <div>
        <span><strong>Name:</strong> {{ name }}</span>
        <span><strong>Address:</strong> {{ address }}</span>
        <span><strong>Email:</strong> {{ email }}</span>
    </div>
    
</body>
</html>